<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Contact Us</title>
</head>
<body>
<style>
    nav ul { list-style: none; padding: 0; display: flex; gap: 15px; }
</style>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'technical' %}">Technical</a></li>
        <li><a href="{% url 'legislative' %}">Legislative</a></li>
        <li><a href="{% url 'operator' %}">Operator</a></li>
         {% if user.is_staff %}
            <li><a href="{% url 'bookings_list' %}">Bookings</a></li>
        {% endif %}
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>
<h1>Contact Bell Equipment Technical Training</h1>
</body>
</html>